Platform/Arbiter/Service References/ConfigurationSvc/ConfigurationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConfigurationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NotificationManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <sp:SymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:RequireDerivedKeys />
                    <sp:BootstrapPolicy>
                      <wsp:Policy>
                        <sp:SignedParts>
                          <sp:Body />
                          <sp:Header Name="ChannelInstance" Namespace="http://schemas.microsoft.com/ws/2005/02/duplex" />
                          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                        </sp:SignedParts>
                        <sp:EncryptedParts>
                          <sp:Body />
                        </sp:EncryptedParts>
                        <sp:SymmetricBinding>
                          <wsp:Policy>
                            <sp:ProtectionToken>
                              <wsp:Policy>
                                <sp:SpnegoContextToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                                  <wsp:Policy>
                                    <sp:RequireDerivedKeys />
                                  </wsp:Policy>
                                </sp:SpnegoContextToken>
                              </wsp:Policy>
                            </sp:ProtectionToken>
                            <sp:AlgorithmSuite>
                              <wsp:Policy>
                                <sp:Basic256 />
                              </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                              <wsp:Policy>
                                <sp:Strict />
                              </wsp:Policy>
                            </sp:Layout>
                            <sp:IncludeTimestamp />
                            <sp:EncryptSignature />
                            <sp:OnlySignEntireHeadersAndBody />
                          </wsp:Policy>
                        </sp:SymmetricBinding>
                        <sp:Wss11>
                          <wsp:Policy />
                        </sp:Wss11>
                        <sp:Trust10>
                          <wsp:Policy>
                            <sp:MustSupportIssuedTokens />
                            <sp:RequireClientEntropy />
                            <sp:RequireServerEntropy />
                          </wsp:Policy>
                        </sp:Trust10>
                      </wsp:Policy>
                    </sp:BootstrapPolicy>
                  </wsp:Policy>
                </sp:SecureConversationToken>
              </wsp:Policy>
            </sp:ProtectionToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
            <sp:EncryptSignature />
            <sp:OnlySignEntireHeadersAndBody />
          </wsp:Policy>
        </sp:SymmetricBinding>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NotificationManager_OnConfigurationIsReady_output_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
          <sp:Header Name="Sequence" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="SequenceAcknowledgement" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="AckRequested" Namespace="http://schemas.xmlsoap.org/ws/2005/02/rm" />
          <sp:Header Name="ChannelInstance" Namespace="http://schemas.microsoft.com/ws/2005/02/duplex" />
          <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
          <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
        </sp:SignedParts>
        <sp:EncryptedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://master-pc:2002/Configuration/ConfigurationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://master-pc:2002/Configuration/ConfigurationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://master-pc:2002/Configuration/ConfigurationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Configuration.DataContracts" />
      <xsd:import schemaLocation="http://master-pc:2002/Configuration/ConfigurationService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INotificationManager_OnConfigurationIsReady_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnConfigurationIsReady" />
  </wsdl:message>
  <wsdl:message name="IGeometryManager_SetGameGeometry_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGameGeometry" />
  </wsdl:message>
  <wsdl:message name="IGeometryManager_SetGameGeometry_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGameGeometryResponse" />
  </wsdl:message>
  <wsdl:message name="IGeometryManager_GetGameGeometry_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameGeometry" />
  </wsdl:message>
  <wsdl:message name="IGeometryManager_GetGameGeometry_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameGeometryResponse" />
  </wsdl:message>
  <wsdl:message name="ITimingManager_SetGameTimings_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGameTimings" />
  </wsdl:message>
  <wsdl:message name="ITimingManager_SetGameTimings_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGameTimingsResponse" />
  </wsdl:message>
  <wsdl:message name="ITimingManager_GetGameTimings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameTimings" />
  </wsdl:message>
  <wsdl:message name="ITimingManager_GetGameTimings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameTimingsResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipManager_GetMembership_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMembership" />
  </wsdl:message>
  <wsdl:message name="IMembershipManager_GetMembership_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMembershipResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipManager_GetTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeam" />
  </wsdl:message>
  <wsdl:message name="IMembershipManager_GetTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipManager_GetPalyer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPalyer" />
  </wsdl:message>
  <wsdl:message name="IMembershipManager_GetPalyer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPalyerResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipSetup_RegisterTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTeam" />
  </wsdl:message>
  <wsdl:message name="IMembershipSetup_RegisterTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipSetup_RegisterRobot_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRobot" />
  </wsdl:message>
  <wsdl:message name="IMembershipSetup_RegisterRobot_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterRobotResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipSetup_UnRegisterRobot_InputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterRobot" />
  </wsdl:message>
  <wsdl:message name="IMembershipSetup_UnRegisterRobot_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnRegisterRobotResponse" />
  </wsdl:message>
  <wsdl:message name="IMembershipSetup_ConfirmTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmTeam" />
  </wsdl:message>
  <wsdl:message name="IMembershipSetup_ConfirmTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleManager_SetGameRules_InputMessage">
    <wsdl:part name="parameters" element="tns:SetGameRules" />
  </wsdl:message>
  <wsdl:message name="IRuleManager_SetGameRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetGameRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IRuleManager_GetGameRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGameRules" />
  </wsdl:message>
  <wsdl:message name="IRuleManager_GetGameRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGameRulesResponse" />
  </wsdl:message>
  <wsdl:portType name="INotificationManager">
    <wsdl:operation name="OnConfigurationIsReady">
      <wsdl:output wsaw:Action="http://tempuri.org/INotificationManager/OnConfigurationIsReady" message="tns:INotificationManager_OnConfigurationIsReady_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IGeometryManager">
    <wsdl:operation name="SetGameGeometry">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeometryManager/SetGameGeometry" message="tns:IGeometryManager_SetGameGeometry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeometryManager/SetGameGeometryResponse" message="tns:IGeometryManager_SetGameGeometry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameGeometry">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeometryManager/GetGameGeometry" message="tns:IGeometryManager_GetGameGeometry_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeometryManager/GetGameGeometryResponse" message="tns:IGeometryManager_GetGameGeometry_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ITimingManager">
    <wsdl:operation name="SetGameTimings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimingManager/SetGameTimings" message="tns:ITimingManager_SetGameTimings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimingManager/SetGameTimingsResponse" message="tns:ITimingManager_SetGameTimings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameTimings">
      <wsdl:input wsaw:Action="http://tempuri.org/ITimingManager/GetGameTimings" message="tns:ITimingManager_GetGameTimings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITimingManager/GetGameTimingsResponse" message="tns:ITimingManager_GetGameTimings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMembershipManager">
    <wsdl:operation name="GetMembership">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipManager/GetMembership" message="tns:IMembershipManager_GetMembership_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipManager/GetMembershipResponse" message="tns:IMembershipManager_GetMembership_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipManager/GetTeam" message="tns:IMembershipManager_GetTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipManager/GetTeamResponse" message="tns:IMembershipManager_GetTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPalyer">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipManager/GetPalyer" message="tns:IMembershipManager_GetPalyer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipManager/GetPalyerResponse" message="tns:IMembershipManager_GetPalyer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IMembershipSetup">
    <wsdl:operation name="RegisterTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipSetup/RegisterTeam" message="tns:IMembershipSetup_RegisterTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipSetup/RegisterTeamResponse" message="tns:IMembershipSetup_RegisterTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterRobot">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipSetup/RegisterRobot" message="tns:IMembershipSetup_RegisterRobot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipSetup/RegisterRobotResponse" message="tns:IMembershipSetup_RegisterRobot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnRegisterRobot">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipSetup/UnRegisterRobot" message="tns:IMembershipSetup_UnRegisterRobot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipSetup/UnRegisterRobotResponse" message="tns:IMembershipSetup_UnRegisterRobot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IMembershipSetup/ConfirmTeam" message="tns:IMembershipSetup_ConfirmTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMembershipSetup/ConfirmTeamResponse" message="tns:IMembershipSetup_ConfirmTeam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IRuleManager">
    <wsdl:operation name="SetGameRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IRuleManager/SetGameRules" message="tns:IRuleManager_SetGameRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRuleManager/SetGameRulesResponse" message="tns:IRuleManager_SetGameRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGameRules">
      <wsdl:input wsaw:Action="http://tempuri.org/IRuleManager/GetGameRules" message="tns:IRuleManager_GetGameRules_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRuleManager/GetGameRulesResponse" message="tns:IRuleManager_GetGameRules_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NotificationManager" type="tns:INotificationManager">
    <wsp:PolicyReference URI="#NotificationManager_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OnConfigurationIsReady">
      <soap12:operation soapAction="http://tempuri.org/INotificationManager/OnConfigurationIsReady" style="document" />
      <wsdl:output>
        <wsp:PolicyReference URI="#NotificationManager_OnConfigurationIsReady_output_policy" />
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeometryManager" type="tns:IGeometryManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetGameGeometry">
      <soap:operation soapAction="http://tempuri.org/IGeometryManager/SetGameGeometry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameGeometry">
      <soap:operation soapAction="http://tempuri.org/IGeometryManager/GetGameGeometry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TimingManager" type="tns:ITimingManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetGameTimings">
      <soap:operation soapAction="http://tempuri.org/ITimingManager/SetGameTimings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameTimings">
      <soap:operation soapAction="http://tempuri.org/ITimingManager/GetGameTimings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MembershipManager" type="tns:IMembershipManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMembership">
      <soap:operation soapAction="http://tempuri.org/IMembershipManager/GetMembership" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeam">
      <soap:operation soapAction="http://tempuri.org/IMembershipManager/GetTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPalyer">
      <soap:operation soapAction="http://tempuri.org/IMembershipManager/GetPalyer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MembershipSetup" type="tns:IMembershipSetup">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterTeam">
      <soap:operation soapAction="http://tempuri.org/IMembershipSetup/RegisterTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterRobot">
      <soap:operation soapAction="http://tempuri.org/IMembershipSetup/RegisterRobot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnRegisterRobot">
      <soap:operation soapAction="http://tempuri.org/IMembershipSetup/UnRegisterRobot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmTeam">
      <soap:operation soapAction="http://tempuri.org/IMembershipSetup/ConfirmTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RuleManager" type="tns:IRuleManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetGameRules">
      <soap:operation soapAction="http://tempuri.org/IRuleManager/SetGameRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGameRules">
      <soap:operation soapAction="http://tempuri.org/IRuleManager/GetGameRules" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="NotificationManager" binding="tns:NotificationManager">
      <soap12:address location="http://master-pc:2002/Configuration/ConfigurationService.svc/NotificationManager" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://master-pc:2002/Configuration/ConfigurationService.svc/NotificationManager</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/master-PC</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="GeometryManager" binding="tns:GeometryManager">
      <soap:address location="http://master-pc:2002/Configuration/ConfigurationService.svc/GeometryManager" />
    </wsdl:port>
    <wsdl:port name="TimingManager" binding="tns:TimingManager">
      <soap:address location="http://master-pc:2002/Configuration/ConfigurationService.svc/TimingManager" />
    </wsdl:port>
    <wsdl:port name="MembershipManager" binding="tns:MembershipManager">
      <soap:address location="http://master-pc:2002/Configuration/ConfigurationService.svc/MembershipManager" />
    </wsdl:port>
    <wsdl:port name="MembershipSetup" binding="tns:MembershipSetup">
      <soap:address location="http://master-pc:2002/Configuration/ConfigurationService.svc/MembershipSetup" />
    </wsdl:port>
    <wsdl:port name="RuleManager" binding="tns:RuleManager">
      <soap:address location="http://master-pc:2002/Configuration/ConfigurationService.svc/RuleManager" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>