Platform/Arbiter/Service References/ObserverSvc/ObserverService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Observer.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Observer.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2002/Observer/ObserverService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:complexType name="PhysicInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Acceleration" type="q1:Point" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Coordinates" type="q2:Point" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Direction" type="q3:Point" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="Speed" type="q4:Point" />
      <xs:element minOccurs="0" name="TimeStemp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PhysicInfo" nillable="true" type="tns:PhysicInfo" />
</xs:schema>