Platform/Arbiter/Service References/ObserverSvc/ObserverService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ObserverService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2002/Observer/ObserverService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2002/Observer/ObserverService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2002/Observer/ObserverService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Configuration.DataContracts" />
      <xsd:import schemaLocation="http://localhost:2002/Observer/ObserverService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import schemaLocation="http://localhost:2002/Observer/ObserverService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Observer.DataContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IObserver_GetPlayerPhysicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerPhysicInfo" />
  </wsdl:message>
  <wsdl:message name="IObserver_GetPlayerPhysicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerPhysicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IObserver_GetAllRobotsPhysicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRobotsPhysicInfo" />
  </wsdl:message>
  <wsdl:message name="IObserver_GetAllRobotsPhysicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRobotsPhysicInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IObserver_GetBallPhysicInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBallPhysicInfo" />
  </wsdl:message>
  <wsdl:message name="IObserver_GetBallPhysicInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBallPhysicInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="IObserver">
    <wsdl:operation name="GetPlayerPhysicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserver/GetPlayerPhysicInfo" message="tns:IObserver_GetPlayerPhysicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserver/GetPlayerPhysicInfoResponse" message="tns:IObserver_GetPlayerPhysicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRobotsPhysicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserver/GetAllRobotsPhysicInfo" message="tns:IObserver_GetAllRobotsPhysicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserver/GetAllRobotsPhysicInfoResponse" message="tns:IObserver_GetAllRobotsPhysicInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBallPhysicInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IObserver/GetBallPhysicInfo" message="tns:IObserver_GetBallPhysicInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IObserver/GetBallPhysicInfoResponse" message="tns:IObserver_GetBallPhysicInfo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IObserver" type="tns:IObserver">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPlayerPhysicInfo">
      <soap:operation soapAction="http://tempuri.org/IObserver/GetPlayerPhysicInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRobotsPhysicInfo">
      <soap:operation soapAction="http://tempuri.org/IObserver/GetAllRobotsPhysicInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBallPhysicInfo">
      <soap:operation soapAction="http://tempuri.org/IObserver/GetBallPhysicInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObserverService">
    <wsdl:port name="BasicHttpBinding_IObserver" binding="tns:BasicHttpBinding_IObserver">
      <soap:address location="http://localhost:2002/Observer/ObserverService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>