Platform/Arbiter/Service References/CommunicationSvc/CommunicationService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://master-pc:2002/Communication/CommunicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Communication.DataContracts" />
  <xs:element name="AddCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Communication.DataContracts" minOccurs="0" name="command" nillable="true" type="q1:Command" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCommandResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>