Clients/MvcClient/Service References/AnalyticsSvc/AnalyticsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Platform" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Platform" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Platform/Imports">
      <xsd:import schemaLocation="http://localhost:2002/Analytics/AnalyticsService.svc?xsd=xsd0" namespace="http://Platform" />
      <xsd:import schemaLocation="http://localhost:2002/Analytics/AnalyticsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2002/Analytics/AnalyticsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Analytics" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAnalytics_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IAnalytics_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IAnalytics">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://Platform/IAnalytics/GetData" message="tns:IAnalytics_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://Platform/IAnalytics/GetDataResponse" message="tns:IAnalytics_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://Platform/IAnalytics/GetDataUsingDataContract" message="tns:IAnalytics_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://Platform/IAnalytics/GetDataUsingDataContractResponse" message="tns:IAnalytics_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>