Clients/MvcClient/Service References/LoggerSvc/LoggerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Logger.DataContracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Logger.DataContracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://master-pc:2002/Logger/LoggerService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Configuration.DataContracts" />
  <xs:complexType name="GameLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="log" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameLog" nillable="true" type="tns:GameLog" />
  <xs:complexType name="PlayerLog">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameLog">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Configuration.DataContracts" minOccurs="0" name="PlayerData" nillable="true" type="q1:PlayerData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PlayerLog" nillable="true" type="tns:PlayerLog" />
  <xs:complexType name="ControllCenterLog">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:GameLog">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Configuration.DataContracts" minOccurs="0" name="ControllCenterData" nillable="true" type="q2:ControllCenterData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ControllCenterLog" nillable="true" type="tns:ControllCenterLog" />
</xs:schema>